
.tabs{
}

.tabs .tab-list{
  border-bottom: 1px solid rgb(241, 241, 241);
}
.tabs .tab-list .tab-button{
  padding: 10px 20px;
  font-weight: 600;
}

.tabs .tab-list .tab-button.is-active{
  border-bottom: 2px solid rgb(31, 117, 187);
}